---
import { SOCIALS } from "@/constants";
import LinkButton from "./LinkButton.astro";
---

<div class="flex flex-wrap items-center gap-2">
  {
    SOCIALS.map(social => (
      <LinkButton
        href={social.href}
        class="p-2 rounded-xl glass hover:text-accent hover:scale-110 transition-all duration-300 sm:p-2"
        title={social.linkTitle}
      >
        <social.icon class="size-5 transition-transform group-hover:-translate-y-0.5" />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>
